@import "variables.scss";

// Typography
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/FiraSansBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
a {
  color: $color-link;
  text-decoration-color: $color-link;

  &:not(:focus):not(:hover) {
    text-decoration: none;
  }
}
p {
  margin: 1rem 0;
}

// Navbar
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem;
  text-align: center;
  background-color: $color-secondary;
}
.navbar__logo {
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
}
.navbar__title, .nav__link {
  color: $color-secondary-text;
  text-decoration-color: $color-secondary-text;
  font-family: "Fira Sans", Helvetica, sans-serif;
  font-weight: bold;
}
.navbar__title {
  font-family: "Fira Sans", Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-decoration: none;
}
.navbar__description {
  margin-bottom: 0;
  line-height: 1.5rem;
  color: rgba($color-secondary-text, .75);
}
.navbar__nav {
  margin: .5rem 0;
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    display: block;
  }
}
.nav__link {
  display: inline-block;
  padding: .25rem .5rem .25rem 0;
}
.navbar__footer {
  color: rgba($color-secondary-text, .75);
  font-size: .75rem;
  line-height: .75rem;
}
@media (min-width: $break-md) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    text-align: left;
  }
  .navbar__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .navbar__logo {
    width: 7rem;
    height: 7rem;
  }
  .navbar__nav ul {
    display: block;
  }
}
@media (min-width: $break-lg) {
  .navbar {
    width: 18rem;
    padding: 2rem;
  }
  .navbar__logo {
    width: 14rem;
    height: 14rem;
  }
  .navbar__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (min-width: $break-xl) {
  .navbar {
    width: 24rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .navbar__title {
  }
  .navbar__description {
  }
  .navbar__logo {
  }
  .navbar__nav {
  }
  .nav__link {
  }
  .navbar__footer {
  }
}
