$color-primary: #dd2c00 !default;
$color-primary-text: #fff !default;
$color-primary-text-faded: rgba($color-primary-text, .75) !default;
$color-secondary: #455a64 !default;
$color-secondary-text: #fff !default;
$color-secondary-text-faded: rgba($color-secondary-text, .75) !default;
$color-background: #f8f8f8 !default;
$color-background-text: #222 !default;
$color-background-text-faded: rgba($color-background-text, .75) !default;
$color-link: #dd2c00 !default;
$color-border: #ddd !default;
$color-blockquote: #ddd !default;
$color-blockquote-text: $color-background-text !default;

$font-heading: "Fira Sans", Helvetica, sans-serif !default;
$font-text: Helvetica, sans-serif !default;
$font-code: "Fira Mono", monospace !default;

$break-sm: 48em !default;
$break-md: 62em !default;
$break-lg: 76em !default;
$break-xl: 90em !default;
