{{ define "main" -}}
<div class="post">
  <h1 class="post__title">{{ .Title }}</h1>
  <div class="post__meta">
      {{ if not .Date.IsZero }}
      <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>{{ .Date.Format "January 2, 2006" }}</time>
      {{ with $.Params.categories }}
      | Category: {{ range $cat := . }}<a href="{{ $.Site.BaseURL }}categories/{{ $cat | urlize | lower }}">{{ $cat }}</a>{{ end }}
      {{ end }}
      {{ with $.Params.tags }}
      | Tags: {{ range $tag := . }}<a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize | lower }}">{{ $tag }}</a>{{ end }}
      {{ end }}
      | Reading time: {{ $.ReadingTime }} minutes
      {{ end }}
  </div>
  {{ .Content }}
  {{ if and .Site.Params.remarkUrl (not .Params.noComments) }}
  <div class="post__comments">
    <h2>Comments</h2>
    <div id="remark42"></div>
  </div>
  {{ end }}
</div>
{{- end }}

{{ define "onload" -}}
{{ if and .Site.Params.remarkUrl (not .Params.noComments) }}
window.remark_config = {
  site_id: "remark",
};

(function() {
  var d = document, s = d.createElement("script");
  s.src = "{{ .Site.Params.remarkUrl }}/web/embed.js";
  (d.head || d.body).appendChild(s);
})();
{{ end }}
{{- end }}
